@font-face {
  font-family: Neue-Montreal;
  src: url('/neue-montreal/NeueMontreal-Medium.otf') format('opentype');
}

@font-face {
  font-family: Neue-Montreal-Regular;
  src: url('/neue-montreal/NeueMontreal-Regular.otf') format('opentype');
}

@font-face {
  font-family: Neue-Montreal-Light-Italic;
  src: url('/neue-montreal/NeueMontreal-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: Neue-Montreal-Light;
  src: url('/neue-montreal/NeueMontreal-Light.otf') format('opentype');
}

* {
  margin: 0rem;
  padding: 0rem;
  font-family: Neue-Montreal-Regular;
}

body {
  background-color: #918e85;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.playback-dashboard-main-container {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  border-top: 0.5px solid #fff;
  right: 0rem;
  color: #fff;
}

.prev-button,
.next-button,
.play-button {
  /* position: absolute; */
  padding: 0.5rem 1rem;
  text-align: center;
  border: none;
  /* filter: invert(1); */
  background-color: #fff;
  height: 4rem;
  width: 5rem;
  cursor: pointer;
}

.play-button {
  background: url('./assets/icons/play.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.display-pause-icon {
  background: url('./assets/icons/pause.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.prev-button {
  background: url('./assets/icons/previous.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.next-button {
  background: url('./assets/icons/next.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.playback-container {
  position: fixed;
  padding: 1.7rem 1rem;
  border: 1px solid #000;
  display: flex;
  column-gap: 1rem;
  width: 100%;
  /* width: inherit; */
  left: 0rem;
  bottom: 0rem;
  background-color: #f0f0f0;
  align-items: center;
  justify-content: center;
}

.audio-controls-timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid blue; */
  row-gap: 1rem;
}

.audio-timeline-slider,
.volume-slider {
  background-color: #f0f0f0;
  /* -webkit-appearance: none; */
  outline: none;
}

.audio-timeline-slider {
  width: 100%;
}

.audio-timeline-slider::-moz-range-track {
  width: 100%;
  height: 5px;
  background: grey;
}
.audio-timeline-slider::-moz-range-progress {
  background-color: tomato;
  height: 5px;
}
.audio-timeline-slider::-moz-focus-outer {
  border: 0;
}
.audio-timeline-slider::-moz-range-thumb {
  height: 20px;
  width: 5px;
  visibility: hidden;
}

.volume-slider-container {
  position: absolute;
  right: 5rem;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 1rem;
}

.volume-button {
  background-image: url('./assets/icons/volume-on.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 2rem;
  width: 2rem;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
}

.display-mute-icon {
  background: url('./assets/icons/volume-off.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.volume-slider {
  width: 15rem;
  margin: 0;
  padding: 0;
  height: 19px;
  /* margin: 30px 2.5% 20px 2.5%; */
}

.volume-slider::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: grey;
}
.volume-slider::-moz-range-progress {
  background-color: #007db5;
}
.volume-slider::-moz-focus-outer {
  border: 0;
}
.volume-slider::-moz-range-thumb {
  height: 20px;
  width: 5px;
  background-color: #fff;
  cursor: ew-resize;
}

.audio-timeline-container {
  /* border: 2px solid green; */
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  font-size: 0.8rem;
}

.audio-timeline-container > span {
  /* border: 2px solid green; */
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(3, 2, 1, 0.5);
}

.audio-controls-container {
  column-gap: 1rem;
  padding: 0rem 1rem;
}

.album-cover-metadata-container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  /* height: 10rem; */
  width: fit-content;
  /* border: 2px solid red; */
  left: 2rem;
  bottom: 1rem;
  column-gap: 1rem;
}

.song-metadata-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.song-metadata-container > h2 {
  font-size: 1.3rem;
}

.album-cover-container {
  /* border: 2px solid orange; */
  height: 7rem;
  width: 7rem;
}

.album-cover {
  height: 7rem;
  width: 7rem;
  position: absolute;
  /* border: 2px solid red; */
}

.help-text {
  position: absolute;
  left: 2rem;
  top: 2rem;
  /* border: 2px solid red; */
}

.toggle-color-button {
  border: 2px solid green;
  width: 30rem;
  height: 10rem;
  position: absolute;
  left: calc(50vw - 15rem);
  top: calc(50vh - 5rem);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
